@use "sass:color";

@import "../toggle.scss";

.displayWrapper {
  $squareSize: 70px;
  $darkSquares: #d65757;
  $darkSquaresTeamOption: #333; // darken($darkSquares, 50%);
  $darkSquaresPieceOption: #333;
  $lightSquares: #fff;
  $lightSquaresTeamOption: #333; // dark($lightSquares, 50%);
  $lightSquaresPieceOption: #333;
  $optionBorderSize: 8px;
  $topSpacing: 40px;

  display: flex;
  height: 100%;

  &.loading {
    justify-content: center;
  }

  .chessBoardWrapper {
    display: flex;
    flex-direction: column;
    padding: $topSpacing 20px;
    flex: 1;

    .board {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      // box-shadow:
      //   4px 4px #fff,
      //   -4px 4px #fff,
      //   4px -4px #fff,
      //   -4px -4px #fff;
      border-radius: 5px;
      aspect-ratio: 1;
      gap: 5px;

      .square[id*="8"],
      .square[id*="6"],
      .square[id*="4"],
      .square[id*="2"] {
        &:nth-child(odd) {
          background: var(--primary-color);
          &.canMoveHere {
            background: $darkSquaresTeamOption;
            border: $optionBorderSize solid var(--primary-color);
          }
          &.pieceCanMoveHere {
            background: $darkSquaresPieceOption;
            border: $optionBorderSize solid var(--primary-color);
          }
        }
        &:nth-child(even) {
          background: var(--secondary-color);
          &.canMoveHere {
            background: $lightSquaresTeamOption;
            border: $optionBorderSize solid var(--secondary-color);
          }
          &.pieceCanMoveHere {
            background: $lightSquaresPieceOption;
            border: $optionBorderSize solid var(--secondary-color);
          }
        }
      }

      .square[id*="7"],
      .square[id*="5"],
      .square[id*="3"],
      .square[id*="1"] {
        &:nth-child(odd) {
          background: var(--secondary-color);
          &.canMoveHere {
            background: $lightSquaresTeamOption;
            border: $optionBorderSize solid var(--secondary-color);
          }
          &.pieceCanMoveHere {
            background: $lightSquaresPieceOption;
            border: $optionBorderSize solid var(--secondary-color);
          }
        }
        &:nth-child(even) {
          background: var(--primary-color);
          &.canMoveHere {
            background: $darkSquaresTeamOption;
            border: $optionBorderSize solid var(--primary-color);
          }
          &.pieceCanMoveHere {
            background: $darkSquaresPieceOption;
            border: $optionBorderSize solid var(--primary-color);
          }
        }
      }

      .square {
        position: relative;
        display: flex;
        border: 2px solid #fff;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        width: clamp(10px, 8vw, 80px);
        height: clamp(10px, 8vw, 80px);

        .piece {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          z-index: 1;
          cursor: pointer;

          svg {
            pointer-events: none;
            width: 80%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            filter: drop-shadow(1px 1px #fff) drop-shadow(-1px 1px #fff)
              drop-shadow(1px -1px #fff) drop-shadow(-1px -1px #fff);
          }
        }

        .squareName {
          display: none;
          pointer-events: none;
        }

        &:hover,
        &.isActive {
          .squareName {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: clamp(13px, 2vw, 20px);
            color: #000;
            background: #ffffffaa;
            width: 100%;
            height: 100%;
            padding: 2px;
            text-align: center;
            border: 3px solid var(--accent-color);
            box-sizing: border-box;
            z-index: 2;
          }
        }

        .layer {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 60%;
          height: 60%;
          border-radius: 50%;
          z-index: 0;

          &.disputedLayer {
            background-color: var(--disputed-color);
          }

          &.enemyDefenseLayer {
            background-color: var(--enemy-defense-color);
          }

          &.defenseLayer {
            background-color: var(--defense-color);
          }

          &.moveLayer {
            background-color: #000;
          }
        }
      }
    }

    .innerBoardContainer {
      display: flex;
      justify-content: center;
      position: relative;
    }

    .gridLabel {
      font-size: clamp(0.5rem, 1.5vw, 1rem);
    }

    .rankRuler {
      color: #fff;
      display: flex;
      flex-direction: column;
      width: 18px;
      padding-right: 4px;
      margin-right: 10px;

      .gridLabel.rankLabel {
        box-sizing: border-box;
        text-align: center;
        border-top: 1px solid var(--accent-color);
        border-bottom: 1px solid var(--accent-color);
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-of-type {
          border-top: none;
          margin-top: 2px;
        }

        &:last-of-type {
          border-bottom: none;
          margin-bottom: 2px;
        }
      }
    }

    .fileRuler {
      color: #fff;
      display: flex;
      margin-left: 35px;
      margin-top: 10px;
      height: 13px;
      position: absolute;
      bottom: -33px;

      .gridLabel.fileLabel {
        box-sizing: border-box;
        border-left: 1px solid var(--accent-color);
        border-right: 1px solid var(--accent-color);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(10px, 8vw, 90px);

        &:first-of-type {
          border-left: none;
          margin-left: 2px;
        }

        &:last-of-type {
          border-right: none;
          margin-right: 2px;
        }
      }
    }
  }

  .sidebar,
  .bottomDrawer {
    color: #fff;
    background: #333;
  }

  .sidebar {
    padding: $topSpacing 20px;
    font-size: clamp(12px, 1vw, 14px);
    flex: 1;
    max-width: 300px;
    box-sizing: border-box;
  }

  .bottomDrawer {
    font-size: clamp(12px, 1vw, 14px);
    padding-bottom: 40px;
  }

  .bottomDrawerButton {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: #333;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: none;

    .handle {
      background: #e3e3e3;
      height: 5px;
      width: 70px;
      border-radius: 5px;
    }
  }

  .mobileControls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;

    .layerControl {
      svg.layerIcon {
      }

      &.layerOn {
        svg.layerIcon.layerIconDefense {
          filter: drop-shadow(1px 1px #fff) drop-shadow(-1px 1px #fff)
            drop-shadow(1px -1px #fff) drop-shadow(-1px -1px #fff);
        }
        svg.layerIcon.layerIconEnemyDefense {
          filter: drop-shadow(1px 1px #fff) drop-shadow(-1px 1px #fff)
            drop-shadow(1px -1px #fff) drop-shadow(-1px -1px #fff);
        }
      }
    }
  }

  .turnDisplay {
    display: flex;
    justify-content: center;
    align-items: center;

    .turnIconBorder {
      width: 27px;
      height: 27px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-radius: 40px;
      padding: 10px;
      margin: 0 5px;

      &.isTurn {
        border-color: var(--accent-color);
      }

      svg.turnIcon {
        width: 100%;
        height: 100%;
        filter: drop-shadow(1px 1px #fff) drop-shadow(-1px 1px #fff)
          drop-shadow(1px -1px #fff) drop-shadow(-1px -1px #fff);
      }
    }
  }

  .controlRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .toggleRow {
    display: flex;
    align-items: center;

    .optionsToggle {
      background: #fff;
      position: relative;
      display: inline-flex;
      height: 20px;
      width: 40px;
      flex-shrink: 0;
      cursor: pointer;
      border-radius: 100px;
      border: 2px solid transparent;
      padding: 0;
      margin-right: 10px;
      transition: all 0.3s;

      .optionsToggleThumb {
        pointer-events: none;
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 100px;
        background-color: var(--primary-color);
        transition: all 0.3s;
        transform: translateX(20px);
      }

      &[data-headlessui-state~="checked"] {
        background: var(--primary-color);

        .optionsToggleThumb {
          transform: none;
          background-color: #fff;
        }
      }

      &.defenseLayerSwitch {
        .optionsToggleThumb {
          background-color: var(--defense-color);
        }
        &[data-headlessui-state~="checked"] {
          background: var(--defense-color);
          .optionsToggleThumb {
            background-color: #fff;
          }
        }
      }

      &.enemyDefenseLayerSwitch {
        .optionsToggleThumb {
          background-color: var(--enemy-defense-color);
        }
        &[data-headlessui-state~="checked"] {
          background: var(--enemy-defense-color);
          .optionsToggleThumb {
            background-color: #fff;
          }
        }
      }

      &.disputedLayerSwitch {
        .optionsToggleThumb {
          background-color: var(--disputed-color);
        }
        &[data-headlessui-state~="checked"] {
          background: var(--disputed-color);
          .optionsToggleThumb {
            background-color: #fff;
          }
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .colorPicker {
    position: relative;
    display: flex;
    align-items: center;

    .hiddenColorLabel {
      display: none;
    }

    button.colorPickerPreview {
      position: relative;
      width: 25px;
      height: 25px;
      border: 2px solid #fff;
      margin-left: 7px;
      cursor: pointer;

      &.showLabel {
        margin-right: 17px;
      }
    }

    .twitterPicker {
      position: absolute;
      top: 25px;
      z-index: 2;
    }
  }

  .sidebarSection {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #000;

    .sidebarSubSection {
      padding-bottom: 20px;

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .optionsSwitch {
    margin: 5px 0;
  }

  .loadingSpinner {
    display: flex;
    justify-content: center;
    height: calc(($squareSize * 8) + 8px);
    align-items: center;
    margin-top: $topSpacing;

    & > div {
      height: 125px;
      width: 125px;
      border: 8px solid #fff;
      border-radius: 20px;
      background-image: conic-gradient(
        $darkSquares 0,
        $darkSquares 90deg,
        $lightSquares 90deg,
        $lightSquares 180deg,
        $darkSquares 180deg,
        $darkSquares 270deg,
        $lightSquares 270deg,
        $lightSquares 360deg
      );
      animation-name: loading;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }

  @keyframes loading {
    20% {
      transform: rotate(90deg);
    }
    40% {
      transform: rotate(180deg);
    }
    60% {
      transform: rotate(270deg);
    }
    80% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.displayWrapper.isMobile {
  flex-direction: column;
  .chessBoardWrapper {
    .board {
      gap: 0;
    }
  }
}

@media (max-width: 780px) {
  .displayWrapper {
    .chessBoardWrapper {
      .board {
        .square {
          border: none;
          width: 10dvw;
          height: 10dvw;
        }
      }
    }
  }
}
