$squareSize: 70px;
$optionBorderSize: 8px;
$topSpacing: 40px;
$darkSquares: #d65757;
$darkSquaresTeamOption: #333; // darken($darkSquares, 50%);
$darkSquaresPieceOption: #333;
$lightSquares: #fff;
$lightSquaresTeamOption: #333; // dark($lightSquares, 50%);
$lightSquaresPieceOption: #333;
$darkSquareOffset: 0.3;
$lastMoveColor: #498467;
